################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Discord.Addons.Interactive/bin/Debug
/Discord.Addons.Interactive/obj
/Discord.Addon.InteractiveMenus/bin/Debug/netcoreapp2.2
/Discord.Addon.InteractiveMenus/obj
